<nav>
  <div class="nav-wrapper blue darken-4">
    <a href="/" class="brand-logo">Songs</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/notes">Notes</a></li>
    </ul>
  </div>
</nav>
