<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/nav %>
  <h1><%= note.name %></h1>
  <p><%= note.description %></p>
  <% var url = '/notes/' + note.id %>
</body>
</html>
