<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Notes</a>
      <ul id="nav-mobile" class="teal right hide-on-med-and-down">
        <li><a href="/notes">Notes</a></li>
      </ul>
    </div>
  </nav>
  <h1>Notes Galore!</h1>
  <p>Welcome to the Notes page</p>
  <form action='/notes' method='POST'>
    <input placeholder="Note Name" name="name" />
    <input placeholder="Description" name="description" />
    <button type="button" class="btn">Cancel</button>
    <button class="btn">Add Note</button>
  </form>
  <ul>
    <% notes.forEach( function(note) { %>
      <li>
        <a href=<%= '/notes/' + note.id %> >
          <%= note.name %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>

</html>
